parameters:
  - name: branchName
    type: string


jobs:
  - job: CleanupServices
    steps:
      #Cleanup Service Environment - fsm-akka-4eyes-argocd
      - template: dispatch.yml@fsm-akka-azure-pipelines
        parameters:
          definitionId: "28"
          sourceBranch: "master"
          inputs: '"branchName": "${{ parameters.branchName }}"'
  - job: CleanupDevEnvironment
    dependsOn: CleanupServices
    steps:
      #Delete Branch Dev Environment <-> fsm-akka-dev-environment
      - template: dispatch.yml@fsm-akka-azure-pipelines
        parameters:
          definitionId: "31"
          sourceBranch: "master"
          inputs: '"branchName": "${{ parameters.branchName }}"'
  - job: CleanupHelmUmbrellaChartRepository
    dependsOn: CleanupDevEnvironment
    steps:
      #Delete Branch Environment <-> fsm-akka-helm-umbrella-chart-az
      - template: dispatch.yml@fsm-akka-azure-pipelines
        parameters:
          definitionId: "32"
          sourceBranch: "master"
          inputs: '"branchName": "${{ parameters.branchName }}"'
