parameters:
  - name: repoName
    type: string
  - name: branchName
    type: string
  - name: umbrellaChartBaseName
    type: string
  - name: infrastructureBaseBranchName
    type: string
  - name: valueFile
    type: string

jobs:
  - job: CalculateVersion
    displayName: Calculate Version
    pool:
      vmImage: ubuntu-latest
    steps:
      - checkout: ServiceRepository
        fetchTags: true
        fetchDepth: 0
      - task: gitversion/setup@0
        displayName: Install GitVersion
        inputs:
          versionSpec: "5.x"
      - task: gitversion/execute@0
        name: calculateVersion
        displayName: Calculating version
        inputs:
          useConfigFile: True
          configFilePath: "GitVersion.yml"
          additionalArguments: '"/b" "${{ parameters.branchName }}"'
  - job: HelmUmbrellaChartPublish
    dependsOn: CalculateVersion
    displayName: "Helm Umbrella Chart Publish"
    variables:
      version: $[dependencies.CalculateVersion.outputs['calculateVersion.GitVersion.SemVer']]
      umbrella-chart-base-branch-name: ${{ parameters.umbrellaChartBaseName }}
      infrastructure-base-branch-name: ${{ parameters.infrastructureBaseBranchName }}
      branch-name: ${{ parameters.branchName }}
      repo-name: ${{ parameters.repoName }}
      value-file: ${{ parameters.valueFile }}
    steps:
      - template: dispatch.yml@fsm-akka-azure-pipelines
        parameters:
          definitionId: "14"
          sourceBranch: "$(umbrella-chart-base-branch-name)"
          inputs: '"branchName": "$(branch-name)", "repoName": "$(repo-name)", "serviceVersion": "$(version)"'
      - template: dispatch.yml@fsm-akka-azure-pipelines
        parameters:
          definition: "17"
          sourceBranch: "$(infrastructure-base-branch-name)"
          inputs: '"branchName":"$(branch-name)", "valueFile": "$(value-file)"'
